<!DOCTYPE html>
<html>

<head>
    <title>
        Html CRUD with Pure JavaScript
    </title>
     <link href="/css/styles.css" rel="stylesheet" >
     <script type="text/javascript" src="/js/actions.js"></script>
</head>

<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    <div>
                        <label>id</label>
                        <input type="text" name="empCode" id="empCode">
                    </div>
                    <div>
                        <label>date</label>
                        <input type="text" name="salary" id="salary">
                    </div>
                    <div>
                        <label>notes</label>
                        <input type="text" name="city" id="city">
                    </div>
                    <div  class="form-action-buttons">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                   </td>
                   <td>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>id</th>
                            <th>date</th>
                            <th>notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    
</body>

</html>
  
    

   
   