<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
<title>wel</title>
    <link rel="stylesheet" href="css/stylejp.css">
  <script type="text/javascript" src="js/action.js"></script>
  
</head>
<body>
    <form action="/adduser" onsubmit="onFormSubmit();" autocomplete="off">
<div>
<input type="text" name="id" id="id">
<label>id*</label><label class="validation-error hide" id="idValidationError">id is required.</label>
</div> </br></br>

<div>
<input type="text" name="names" id="names"> 
<label>name*</label><label class="validation-error hide" id="namesValidationError">enter valuable name.</label>
</div> </br></br>

<div>
<input type="text" name="age" id="age">
<label>age*</label><label class="validation-error hide" id="ageValidationError">enter valuable age.</label>
</div>  </br></br>                 

<div>
<input type="text" name="work" id="work">
<label>work*</label><label class="validation-error hide" id="workValidationError">work is required.</label>
</div> </br></br>

<div>
<input type="text" name="email" id="email"> 
<label>email*</label><label class="validation-error hide" id="emailValidationError">enter valuable mail.</label>
</div> </br></br>

<div>
<input type="text" name="experience" id="experience">
<label>experience*</label><label class="validation-error hide" id="experienceValidationError">enter valuable exp.</label>
</div> </br></br>


 <div>
language known :</br></br>
					
<input type="checkbox" name="gen" id="gen" value="tamil" >tamil
             
<input type="checkbox" name="gen" id="gen" value="english">englih
             
<input type="checkbox" name="gen" id="gen" value="spanish"> spanish </div>  </br></br>


             
<div>
gender  :</br></br>
					
<input type="radio" name="gender" id="gender" value="male">male
             
<input type="radio" name="gender" id="gender" value="female">female
             
<input type="radio" name="gender" id="gender" value="transgender"> transgender</div> </br></br>
             
		
<div>
				
<select name="country">
		   
<option value="india"> india</option>
		   
<option value="usa"> usa</option>  
		          
</select></div> </br></br>
          
              
<div>					
<input type="file" name="file" id="file" /> </div> </br></br>

<input type="submit" value="Submit">
</form>
</body>
</html>