<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="css/stylejp.css">
  <script type="text/javascript" src="js/action.js"></script>
    <title>hom</title>
</head>
<body>
    <div  class="3com">
        <h1>welcome our it portals</h1>
   <p>
	   find your sutable company	   
   </p>
   <div>
	    <h1>techit</h1>
   <p>
	  adress:4/124 nrbut nagan,</br>
      tharuvaikulam,</br>	
      thoothukodi.</br>        
	  basic requirement:any degree 
   </p>
   
  <form action="/apply">
       <button type="submit">apply</button>
      </form>
   </div>
   
   
    <div>
	    <h1>info</h1>
   <p>
	  adress:4/54 visustreet,</br>
      vambbar,</br>	
      madurai.</br>        
	  basic requirement:any degree	   
   </p>
  <form action="/apply">
       <button type="submit">apply</button>
      </form>
   </div>
   
   
    <div>
	    <h1>info</h1>
   <p>
	  adress:5/124 nrbut nagan,</br>
      alnboor,</br>	
      kovilpati.</br>        
	  basic requirement:anydegree	   
   </p>
 <form action="/apply">
       <button type="submit">apply</button>
      </form>
   </div>
    </div>
</body>
</html>