<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
<title>wel</title>
    <link rel="stylesheet" href="css/stylejp.css">
  <script type="text/javascript" src="js/action.js"></script>
  
</head>
<body>
   <h4>wolcome our site</h4>
   
      <div id="indexbody">
		    <div class="indexclass">
      <form action="/it">
      <button type="submit">it</button>
      </form>
        </div>
           <div class="indexclass">
      <form action="/shippage">
      <button type="submit">ship</button>
      </form>
        </div>
         <div class="indexclass">
      <form action="/engpage">
       <button type="submit">eng</button>
      </form>
        </div>
      </div>
      
      <div id="deat">
		   <h4>Start Online Copy-Paste Job At Home</h4>
		  <p>Are you looking for an online job? If yes, our platform can help you get there. Apply today for online copy paste </br>jobs and make more extra money from home. Best opportunity to make income online.</p>
	<ol>
        <li>It’s free, No registration fee is required.</li></br>
        <li>Instant account setup.</li></br>
        <li>Daily task up to 100 copy-paste work.</li></br>
        <li>$0.20 per copy-paste work</li></br>
        <li>Dedicated premium support</li></br>
        <li>Daily payment withdrawal at minimum $5.00</li></br>
    </ol>
		  
	  </div>
      
</body>
</html>