#indexbody{background-color: aquamarine;
    }
#deat{background-color: aquamarine;}
.indexclass{display: inline-block;

margin:10px;
padding: 10px 24px;}
body{background-color: azure;
}
h4{text-align: center;}

.fontgroup p{
	visibility: hidden;
}
.fontgroup.error p{
	visibility: visible;}
	.fontgroup.success p{
	visibility: hidden;}
	
	
.hide{
    display:none;
}